  .add__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .list__cart {
    margin-top: 3rem;
    margin-left: 1rem;
    color: white;
    height: 3rem;
    width: 70%;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: hsl(22, 28%, 37%);
    border: 1px solid transparent;
    border-radius: 0.30rem;
  }

  .list__cart:hover {
    background-color: #584032;
    cursor: pointer;
  }
