.cart__totals {
   margin-top: 3rem;
}

.cart__totals article {
   border: 1px solid var(--clr-grey-8);
   border-radius: var(--radius);
   padding: 1.5rem 3rem;
}

h4, h5, p {
   display: grid;
   grid-template-columns: 200px 1fr;
}

p {
   text-transform: capitalize;
 }
 h4 {
   margin-top: 2rem;
 }

 .cart__checkout {
   width: 100%;
   margin-top: 1rem;
   text-align: center;
   font-weight: 700;
 }