.cart__totals {
  margin-top: 3rem;
}

.cart__totals article {
  border: 1px solid var(--clr-grey-8);
  border-radius: var(--radius);
  padding: 1.5rem 3rem;
}

.cart__totals h4,
h5,
p {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.cart__totals p {
  text-transform: capitalize;
}

.cart__totals h4 {
  margin-top: 2rem;
}

.cart__checkout {
  margin-top: 2rem;
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  color: var(--clr-white);
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  font-size: 1.2rem;
  cursor: pointer;
  background: var(--clr-primary-2);
  align-items: center;
}

@media all and (max-width: 768px) {
  .cart__checkout {
    font-size: 0.7rem;
  }
  .cart__totals {
    margin-top: 2rem;
  }
  .cart__totals h4,
  h5,
  p {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  .cart__totals article {
    padding: 1rem 2rem;
  }
  .cart__totals h4 {
    margin-top: 1rem;
  }
}
