footer {
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

footer h3 {
  font-size: 1.1rem;
}

footer h4 {
  font-size: 0.9rem;
}

@media all and (max-width: 768px) {
  footer h3 {
    font-size: 0.9rem;
  }
  
  footer h4 {
    font-size: 0.8rem;
  }
}


