@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin: 0 auto;
}

section {
  max-width: 80vw;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1.5rem;
  
}


#filterbycategory {
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 1.5rem;

}



h2 {
  font-size: 2rem;
}

h2, p {
  margin-bottom: 1rem;
}


input[type="checkbox"],
input[type="radio"] {
  filter: hue-rotate(140deg);
  filter: grayscale(1);
}


@media all and (max-width: 768px) {
  section {
    max-width: 70vw;
  }
  h2 {
    font-size: 1.2rem;
  }
  #filterbycategory {
    flex-direction: column;
  }
}