/* item list */

.list__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding-top: 1rem;
}

/* number of products found? */
.list__container h4 {
  width: 100%;
}


.list__item {
  padding: 20px 0;
  width: 18%;
  border-radius: 3px;
  text-align: center;
  font-size: 0.9em;
}

@media all and (max-width: 768px) {
  .list__item {
    width: 48%;
  }
}

@media all and (max-width: 480px) {
  .list__item {
    width: 100%;
  }
}
/*
.list__item:hover {
  transform: scale(1.05);
}
*/
.list__link {
      text-decoration: none;
}



.list__title {

    color: #555;
    width: 90%;
    margin: 20px auto 0;
}

.list__price {

    margin-top: 10px;
    color: #777;
}

.list__image {
  width: 100%;
    height: auto;
}

.list__image img {
  width: 100%;
    height: auto;
}

/* Filtering styling */


.filter__container {
display: flex;
flex-direction: column;
width: 18vw;
max-width: 18vw;
margin-top: 3rem;
text-align: left;
}

.filter__container h4 {
  width: 100%;
}

.filter__category {
padding: 10px 0;
}


.filter__item {
text-align: left;
font-size: 0.9em;
}



@media all and (max-width: 768px) {
.filter__container {
    display: flex;
    width: 80vw;
    max-width: 80vw;
    margin-top: 0;
 }

 .filter__container h4 {
   width: 100%;
 }

 .filter__category {
   display: flex;
   flex-flow: wrap;
   padding: 0;
 }

 .filter__item {
   font-size: 0.7rem;
 }

}

/* pagination */

.pagination {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #1e232b;
  color: white;
  border: 1px solid #1e232b;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}