
.grid__container {
    display: grid;
    max-width: 80vw;
    grid-auto-rows: 40%;
    grid-gap: 1rem;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 1fr);
  }

  
 .grid__item {
        margin: 2rem .7rem;
        box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
  }

  .grid__item:hover {
    transform: scale(1.05);
  }

 .grid__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .grid__item p {
    margin-bottom: 10px;
  }

  
  @media all and (max-width: 320px) {
    .grid__container {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
    }
    
    .grid__item img {
        width: 30%;
        height: auto;
        
    }
  }
  
  @media all and (max-width: 768px) {
    .grid__container {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
    }

    .grid__item {
      margin: .7rem .7rem;
    }

    .grid__item img {
        width: 60%;
        height: auto;
    }

   
  }
  