/* item list */

.list__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding-top: 1rem;
  }
  
  /* number of products found? */
  .list__container h4 {
    width: 100%;
  }
  
  
  .list__item {
    padding: 20px 0;
    width: 24%;
    border-radius: 3px;
    text-align: center;
    font-size: 0.9em;
  }
  
  @media all and (max-width: 768px) {
    .list__container {
      width: 80%;
    }
    .list__item {
      width: 48%;
    }
  }
  
  @media all and (max-width: 480px) {
    .list__item {
      width: 100%;
    }
  }
  
  .list__item:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .list__link {
        text-decoration: none;
  }
  
  
  .list__title {
      color: #555;
      width: 90%;
      margin: 20px auto 0;
      height: 2rem;
  }
  
  
  .list__price {
      margin-top: 1.1rem;
      color: #777;
      height: 2rem;
  }
  
  .list__image {
    width: 100%;
      height: auto;
  }
  
  .list__image img {
    width: 100%;
      height: auto;
  }
  
  .list__slug {
    margin-top: 4px;
    text-transform: uppercase;
    height: 20px;
  }