/* item list */

.list__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding-top: 1rem;
}

/* number of products found? */
.list__container h4 {
  width: 100%;
}

@media all and (max-width: 768px) {
  .list__container {
    width: 80%;
  }
  .list__item {
    width: 48%;
  }
}

/* pagination */

.pagination {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #1e232b;
  color: white;
  border: 1px solid #1e232b;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
