.search-form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
  margin-bottom: 5rem;
}

.search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}

.search-form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: lightgray;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.search-form button:hover {
  background: #2f4f4f;
}

.product__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
}
